###Python Basic Assignment 16

**1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].**

In [4]:
year_of_birth =1990
n=5
years_list=[]

for i in range(n):
  years_list.append(year_of_birth)
  year_of_birth+=1

In [5]:
years_list

[1990, 1991, 1992, 1993, 1994]

**2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.**

In [6]:
years_list[2]

1992

**3.In the years list, which year were you the oldest?**

In [7]:
max(years_list)

1994

**4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".**

In [30]:
lst=["mozzarella", "cinderella", "salmonella"]
lst

['mozzarella', 'cinderella', 'salmonella']

**5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?**

In [31]:
# only cindrella is the person name

def personCapitalzie(lst):
  temp=[]
  for name in lst:
    if (name.lower() == "cinderella"):
      temp.append(name.capitalize())
      continue
    temp.append(name)
  return temp

In [32]:
for elem in lst:
  print(elem, id(elem))

mozzarella 140644662398576
cinderella 140644609666992
salmonella 140644540333296

In [35]:
res=personCapitalzie(lst)
res

['mozzarella', 'Cinderella', 'salmonella']

In [36]:
for elem in res:
  print(elem, id(elem))

mozzarella 140644662398576
Cinderella 140644540085488
salmonella 140644540333296

We can see from the above output that the element got changed.

**6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."**

In [37]:
surprise_list = ["Groucho", "Chico", "Harpo"]
surprise_list

['Groucho', 'Chico', 'Harpo']

**7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.**

In [39]:
##1 Lowercase the last element
surprise_list[-1] = surprise_list[-1].lower()
surprise_list

['Groucho', 'Chico', 'harpo']

In [42]:
##2 reverse the alst element
s = surprise_list[-1]
s=s[::-1]
surprise_list[-1]=s

surprise_list

['Groucho', 'Chico', 'oprah']

In [43]:
##3 Capitalize the last element
surprise_list[-1] = surprise_list[-1].capitalize()
surprise_list

['Groucho', 'Chico', 'Oprah']

**8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.**

In [52]:
e2f ={"dog":"chien","cat":"chat","walrus":"morse"}

In [53]:
e2f["dog"]

'chien'

**9. Write the French word for walrus in your three-word dictionary e2f.**

In [54]:
e2f["walrus"]

'morse'

**10. Make a French-to-English dictionary called f2e from e2f. Use the items method.**

In [58]:
f2e = {val:key for key,val in e2f.items()}

In [59]:
f2e

{'chat': 'cat', 'chien': 'dog', 'morse': 'walrus'}

**11. Print the English version of the French word chien using f2e.**

In [60]:
f2e["chien"]

'dog'

**12. Make and print a set of English words from the keys in e2f.**

In [62]:
for word in e2f.values():
  print(word)

chien
chat
morse

**13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.**

In [63]:
life={"animals":{"cats":[ 'Henri', 'Grumpy','Lucy'],"octopi":{},"emus":{}},"plants":{},"other":{}}

**14. Print the top-level keys of life.**

In [65]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

**15. Print the keys for life['animals'].**

In [66]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

**16. Print the values for life['animals']['cats']**

In [67]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']