###Python Basic Assignment 17

**1. Assign the value 7 to the variable guess_me. Then, write the conditional tests (if, else, and elif) to print the string 'too low' if guess_me is less than 7, 'too high' if greater than 7, and 'just right' if equal to 7.**

In [3]:
guess_me=7

In [2]:
if guess_me<7:
  print("too low")
elif guess_me >7:
  print("too high")
else:
  print("just right")

just right

**2. Assign the value 7 to the variable guess_me and the value 1 to the variable start. Write a while loop that compares start with guess_me. Print too low if start is less than guess me. If start equals guess_me, print 'found it!' and exit the loop. If start is greater than guess_me, print 'oops' and exit the loop. Increment start at the end of the loop.**

In [7]:
guess_me=7
start=1

In [8]:
while(start<=guess_me):
  if start<guess_me:
    print("too low")
  elif start==guess_me:
    print("found it!")
    break
  if start>guess_me:
    print("oops")
    break
  start+=1

too low
too low
too low
too low
too low
too low
found it!

**3. Print the following values of the list [3, 2, 1, 0] using a for loop.**

In [9]:
l1 =  [3, 2, 1, 0]

for elem in l1:
  print(elem)

3
2
1
0

**4. Use a list comprehension to make a list of the even numbers in range(10)**

In [10]:
[x for x in range(10) if x%2==0]

[0, 2, 4, 6, 8]

**5. Use a dictionary comprehension to create the dictionary squares. Use range(10) to return the keys, and use the square of each key as its value.**

In [12]:
{key:key**2 for key in range(1,10)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

**6. Construct the set odd from the odd numbers in the range using a set comprehension (10).**

In [13]:
odd = {x  for x in range(1,10) if x%3==0}
odd

{3, 6, 9}

In [14]:
type(odd)

set

**7. Use a generator comprehension to return the string 'Got ' and a number for the numbers in range(10). Iterate through this by using a for loop.**

In [19]:
g = ( "Got"+str(x) for x in range(10))  #it is generator comprehension

In [20]:
type(g)

generator

In [21]:
for j in range(10):
  print(next(g))

Got0
Got1
Got2
Got3
Got4
Got5
Got6
Got7
Got8
Got9

**8. Define a function called good that returns the list ['Harry', 'Ron', 'Hermione'].**

In [29]:
def good():
  return ['Harry', 'Ron', 'Hermione']

In [30]:
good()

['Harry', 'Ron', 'Hermione']

**9. Define a generator function called get_odds that returns the odd numbers from range(10). Use a for loop to find and print the third value returned.**

In [59]:
def get_odds(size):

  flag = True 
  n=1
  while(flag or n<size):
    if n%2!=0:
      yield n
      flag=False
    n+=1

In [61]:
x =get_odds(10)

In [62]:
for j in range(3):
  print(next(x))

1
3
5

**10. Define an exception called OopsException. Raise this exception to see what happens. Then write the code to catch this exception and print 'Caught an oops'.**

In [66]:
class OopsException(Exception):
    pass


def my_exception(a):
    if a == 0:
        raise OopsException(a)


try:
    my_exception(0)
except OopsException as err:
    print('Caught an oops',err)

try:
    my_exception(1)
    print("Not an exception")
except OopsException as err:
    print('Caught an oops')

Caught an oops 0
Not an exception

**11. Use zip() to make a dictionary called movies that pairs these lists: titles = ['Creature of Habit', 'Crewel Fate'] and plots = ['A nun turns into a monster', 'A haunted yarn shop'].**

In [67]:
titles = ['Creature of Habit', 'Crewel Fate']
plots = ['A nun turns into a monster', 'A haunted yarn shop']

In [68]:
list(zip(titles,plots))

[('Creature of Habit', 'A nun turns into a monster'),
 ('Crewel Fate', 'A haunted yarn shop')]

In [69]:
d = dict(zip(titles,plots))

In [70]:
d

{'Creature of Habit': 'A nun turns into a monster',
 'Crewel Fate': 'A haunted yarn shop'}