###Python Basic Assignment 04

**1. What exactly is []?**

In [1]:
b=[]
type(b)

list

[] is a notation of list.

**2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value?** 
(Assume [2, 4, 6, 8, 10] are in spam.)

In [4]:
spam=[2,4,6,8,10] #given

#To assign "hello" at 3rd position
spam[2] ="hello"  #index 2 is at 3rd position
spam

[2, 4, 'hello', 8, 10]

**"Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries."**

3. What is the value of spam[int(int('3' * 2) / 11)]?

In [5]:
spam = ['a','b','c','d']

In [6]:
spam[int(int('3' * 2) / 11)]    # int(333/11) ==> int(3) ==> 3

'd'

4. What is the value of spam[-1]?

In [7]:
spam[-1]

'd'

5. What is the value of spam[:2]?

In [8]:
spam[:2]

['a', 'b']

**"Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions."**

In [14]:
bacon=[3.14, 'cat', 11, 'cat', True]

6. What is the value of bacon.index('cat')?

In [15]:
bacon.index('cat') #index of first occurence of cat

1

7. How does bacon.append(99) change the look of the list value in bacon?

In [16]:
bacon.append(99) # integer value 99 will get added at the last index
bacon

[3.14, 'cat', 11, 'cat', True, 99]

8. How does bacon.remove('cat') change the look of the list in bacon?

In [17]:
bacon.remove("cat") #first occurence will get removed
bacon

[3.14, 11, 'cat', True, 99]

**9. What are the list concatenation and list replication operators?**

Answer:

list concatenation operator is "+" as we can concatenate two or more list together.
list replication operator is "*" as we can replicate the given list as many times we want based on the given positive integer value.

In [19]:
l1=[1,2,3,"abc"]
l2 = ["a","bb",55,55,654]
print(l1+l2)  #concatenate

print(l1* 3) #replication

[1, 2, 3, 'abc', 'a', 'bb', 55, 55, 654]
[1, 2, 3, 'abc', 1, 2, 3, 'abc', 1, 2, 3, 'abc']

**10. What is difference between the list methods append() and insert()?**

Answer:

Append method:- Append method adds a new element at the end of the list. The length of the list increases by one


Insert method:- Insert method is the method which inserts a given element at a given index in a list. Rest of the elements at the right position moves by 1 position.

Syntax:- 
list_name.insert(index, element)

In [21]:
l1 = [1,2,3,4,5]  
l1.append("hi") # append "hi" at the end of list
l1

[1, 2, 3, 4, 5, 'hi']

In [22]:
l1.insert(2,"abc") #insert "abc" at third position
l1

[1, 2, 'abc', 3, 4, 5, 'hi']

**11. What are the two methods for removing items from a list?**

Answer:

In Python, there are many methods available on the list data type that help us remove an element from a given list. The methods are remove(), pop() and clear()

Besides the list methods, we can also use a del keyword to remove items from a list.

1) remove - This method is a built-in method available with the list. It helps to remove the given very first element matching from the list.

2) pop - This method removes an element from the list based on the index given.

3) clear - This method will remove all the elements present in the list.

4) del - To remove an element from the list, we can use the del keyword followed by a list. We have to pass the index of the element to the list. The index starts at 0.

In [26]:
l1 = [1,1,1,2,1,2,5,4,55,88,7,"a","a","a","aa","abs"]

In [27]:
l1.remove(1)#first occurence of 1 will get removed
l1

[1, 1, 2, 1, 2, 5, 4, 55, 88, 7, 'a', 'a', 'a', 'aa', 'abs']

In [28]:
l1.pop(2) #remove the value 2 at index 2
l1

[1, 1, 1, 2, 5, 4, 55, 88, 7, 'a', 'a', 'a', 'aa', 'abs']

In [29]:
del l1[6] #remove value 55 at index 6
l1

[1, 1, 1, 2, 5, 4, 88, 7, 'a', 'a', 'a', 'aa', 'abs']

In [30]:
l1.clear() #remove all elements from list
l1

[]

In [31]:
del l1 #del also used to remove the whole list

**12. Describe how list values and string values are identical.**

Answer:

The similarity between Lists and Strings in Python is that both are sequences. The differences between them are that firstly, Lists are mutable but Strings are immutable. Secondly, elements of a list can be of different types whereas a String only contains characters that are all of String type.

**13. What's the difference between tuples and lists?**


Tuples have a collection of elements which is ordered and unchangeable (immutable). 

While List is a collection which is ordered and changeable.

**14. How do you type a tuple value that only contains the integer 42?**

Answer:

In [32]:
t=(42,)
type(t)

tuple

**15. How do you get a list value's tuple form? How do you get a tuple value's list form?**

Answer:

In [33]:
l1=[1,1,2,3,554,45,"aa","aa","abn"]
t1 = tuple(l1) #list to tuple

print(l1)
print(t1)

[1, 1, 2, 3, 554, 45, 'aa', 'aa', 'abn']
(1, 1, 2, 3, 554, 45, 'aa', 'aa', 'abn')

In [35]:
l2 =list(t1) #tuple to list
l2

[1, 1, 2, 3, 554, 45, 'aa', 'aa', 'abn']

**16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?**

Answer:

List can contain int,str,float,complex, bool, tuple,set,dict or any other object apart from list itself.

**17. How do you distinguish between copy.copy() and copy.deepcopy()?**

Answer:

We use the copy module of Python for shallow and deep copy operations. Suppose, you need to copy the compound list say x. For example:

> import copy

> copy.copy(x) # Return a shallow copy of x.

> copy.deepcopy(x) # Return a deep copy of x.


A shallow copy creates a new object which stores the reference of the original elements.

So, a shallow copy doesn't create a copy of nested objects, instead it just copies the reference of nested objects. This means, a copy process does not recurse or create copies of nested objects itself.


A deep copy creates a new object and recursively adds the copies of nested objects present in the original elements.

In [38]:
import copy

old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list_sc = copy.copy(old_list)
list_dc = copy.deepcopy(old_list)

old_list.append([5,5,5])

old_list[0][2] =6

print("Old list:", old_list)
print("New list_sc:", list_sc) #nested list got changed in shallow copy
print("New list_dc:", list_dc) #nested list not got changed in deep copy

Old list: [[1, 2, 6], [4, 5, 6], [7, 8, 9], [5, 5, 5]]
New list_sc: [[1, 2, 6], [4, 5, 6], [7, 8, 9]]
New list_dc: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]