###Python Basic Assignment2

**1.What are the two values of the Boolean data type? How do you write them?**

True and False are the two values

In [6]:
a = True #assign the true value to variable
a

True

In [7]:
b = False #assign the false value to variable
b

False

In [8]:
1>0 #when use among comparison operator evaluates boolean result

True

In [9]:
bool(1) #convert integer to boolean value

True

**2. What are the three different types of Boolean operators?**

There are three logical operators that are used to compare values. They evaluate expressions down to Boolean values, returning either True or False. These operators are and, or, and not and are defined in the table below.


![image.png]()

In [10]:
(2==2) and (3>2)  #True and True

True

In [11]:
True and False

False

3. Make a list of each Boolean operator's truth tables
(i.e. every possible combination of Boolean values for the operator and what it evaluate ).

![image.png]()

4. What are the values of the following expressions?
*   (5 > 4) and (3 == 5)
*   not (5 > 4)
*   (5 > 4) or (3 == 5)
*   not ((5 > 4) or (3 == 5))
*   (True and True) and (True == False)
*   (not False) or (not True)

In [12]:
(5 > 4) and (3 == 5)

False

In [13]:
not (5 > 4)

False

In [14]:
(5 > 4) or (3 == 5)

True

In [15]:
not ((5 > 4) or (3 == 5))

False

In [16]:
(True and True) and (True == False)

False

In [17]:
(not False) or (not True)

True

**5. What are the six comparison operators?**

1. Equal ==

In [18]:
2 == 2

True

In [19]:
"hi" == "hi"

True

2. Greater than >

In [20]:
3 > 4

False

3. Less than <

In [21]:
3<4

True

In [23]:
"aa"<"ab"

True

4. Not Equal

In [24]:
3 != 4

True

5. Greater than equal to >=

In [25]:
5 >= 5

True

In [26]:
6>=5

True

6. Less than equal to <=

In [27]:
3<=5

True

**6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.**

= is a assignment operator and == is a comparison operator. = operator is used to assign value to a variable and == operator is used to compare two variable or constants. The left side of = operator can not be a constant, while for == operator both sides can be operator.

In [29]:
a = 5             #assigning value 5 to variable a
b = 5           #assigning value 5 to variable b   
c = a+b           #assigning the addition of a and b to variable c
print("a=",a,"b=",b,"c=",c)

a= 5 b= 5 c= 10

In [30]:
a == b        #comparing the values of a and b

True

In [31]:
a= 5
b= 10

In [32]:
a == b  #compares the values

False

In [33]:
a = b # assign the value of b to a

In [34]:
a == b

True

Now the equal operator return True as the value of a and b becomes equal after the assignment

7. Identify the three blocks in this code:

spam = 0
if spam == 10:
print('eggs')
if spam > 5:
print('bacon')
else:
print('ham')
print('spam')
print('spam')

In [37]:
#block1-------------------------------------------
spam = 0

#block2-------------------------------------------
if spam == 10:
  print('eggs')
if spam > 5:
  print('bacon')
else:
  print('ham')

#block3-------------------------------------------  
print('spam')
print('spam')

ham
spam
spam

**8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.**

In [39]:
spam = int(input("Enter your numer : (integer please!!)"))

if spam ==1:
  print("Hello")
elif spam ==2:
  print("Howdy")
else:
  print("Greetings!")

Enter your numer : (integer please!!)1
Hello

**9.If your programme is stuck in an endless loop, what keys youâ€™ll press?**

press Ctrl+C

**10. How can you tell the difference between break and continue?**

The Python break statement stops the loop in which the statement is placed. A Python continue statement skips a single iteration in a loop.

In [40]:
for i in range(10):
  if i ==5:  #exit the loop when i==5
    break
  print("i =",i)

i = 0
i = 1
i = 2
i = 3
i = 4

In [41]:
for i in range(10):
  if i ==5:  #skip the loop when i==5
    continue
  print("i =",i)

i = 0
i = 1
i = 2
i = 3
i = 4
i = 6
i = 7
i = 8
i = 9

**11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?**

all are same

In [45]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [42]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [43]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [44]:
for i in range(0,10,1):
  print(i)

0
1
2
3
4
5
6
7
8
9

**12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.**

In [46]:
for i in range(10):
  print(i+1)

1
2
3
4
5
6
7
8
9
10

In [47]:
i=1
while(i<=10):
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

**13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?**

import spam

spam.bacon()